<div class="container-form">
<form 
  *ngIf = "bookForm"
  [formGroup]="bookForm"
  (submit)="createBook()"

  > 
    <div>
      <label>Título:</label>
      <input formControlName="title" type="text"><br><br>
      <p *ngIf="!bookForm.get('title')?.valid
          && (bookForm.get('title')?.dirty || bookForm.get('title')?.touched)"
        >Campo requerido</p>
    </div>

    <div>
      <label>Autor:</label>
      <input formControlName="author" type="text" ><br><br>
      <p *ngIf="!bookForm.get('author')?.valid
          && (bookForm.get('author')?.dirty || bookForm.get('author')?.touched)"
        >Campo requerido</p>
    </div>

    <div>
      <label>Portada:</label>
      <input formControlName="image" type="text" ><br><br>
      <p *ngIf="!bookForm.get('image')?.valid
      && (bookForm.get('image')?.dirty || bookForm.get('image')?.touched)"
    >Campo requerido</p>
    </div>

    <div>
      <label>Género:</label>
      <select formControlName="genre" type="text" > 
        <option 
          *ngFor = "let genre of genreOptions"
          [value] = "genre"
          > {{genre}} </option>
      </select><br><br>
      <p *ngIf="!bookForm.get('genre')?.valid
      && (bookForm.get('genre')?.dirty || bookForm.get('genre')?.touched)"
    >Campo requerido</p>
    </div>
    
    <div>
      <label>Año publicación:</label>
      <input formControlName="year" type="text" ><br><br>
      <p *ngIf="!bookForm.get('year')?.valid
      && (bookForm.get('year')?.dirty || bookForm.get('year')?.touched)"
    >Campo requerido</p>
    </div>

    <div>
      <label>Precio:</label>
      <input formControlName="price" type="text" ><br><br>
      <p *ngIf="!bookForm.get('price')?.valid
      && (bookForm.get('price')?.dirty || bookForm.get('price')?.touched)"
    >Campo requerido</p>
    </div>

    <div>
      <label>Sinopsis:</label><br>
      <textarea formControlName="synopsis" rows="4" cols="50"></textarea><br><br>
      <p *ngIf="!bookForm.get('synopsis')?.valid
      && (bookForm.get('synopsis')?.dirty || bookForm.get('synopsis')?.touched)"
    >Campo requerido</p>        
    </div>
    <button type="submit"> {{ book ? 'Editar libro' : 'Crear Libro'}}</button> 
  </form>
</div>

