<div class="container-form">
<form 
  *ngIf = "bookForm"
  [formGroup]="bookForm"

  > 
    <div>
      <label for="title">Título:</label>
      <input formControlName="title" type="text"><br><br>
    </div>

    <div>
      <label for="author">Autor:</label>
      <input formControlName="author" type="text" ><br><br>
    </div>

    <div>
      <label for="image">Portada:</label>
      <input formControlName="image" type="text" ><br><br>
    </div>

    <div>
      <label for="genre">Género:</label>
      <select formControlName="genre" type="text" > 
        <option 
          *ngFor = "let genre of genreOptions"
          [value] = "genre"
          > {{genre}} </option>

      </select><br><br>
    </div>

    <div>
      <label for="synopsis">Sinopsis:</label><br>
      <textarea formControlName="synopsis" id="sinopsis" name="sinopsis" rows="4" cols="50"></textarea><br><br>
      </div>
    <input type="submit" value="Crear Libro">
  </form>
</div>