<div class="container-form">
<form>
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" required><br><br>
    
    <label for="autor">Autor:</label>
    <input type="text" id="autor" name="autor" required><br><br>
    
    <label for="imagen">Imagen:</label>
    <input type="text" id="imagen" name="imagen" required><br><br>
    
    <label for="genero">Género:</label>
    <input type="text" id="genero" name="genero" required><br><br>
    
    <label for="sinopsis">Sinopsis:</label><br>
    <textarea id="sinopsis" name="sinopsis" rows="4" cols="50" required></textarea><br><br>
    
    <input type="submit" value="Crear Libro">
  </form>
</div>