<footer class="footer"> 
    <div class="container">
        <div class="footer-content">
            <p>&copy; 2023 Librería World Book. Todos los derechos reservados.</p>
            <div class="social-icons">
                <a href="https://facebook.com/">
                    <img class="icon" src="https://cdn-icons-png.flaticon.com/512/733/733547.png?w=740&t=st=1687257719~exp=1687258319~hmac=4071edf9e2f8bdb8b4e9deab8ef9d7383d644f1fbf75cb0666b47878a94e2fc3">
                </a>
                <a href="https://twitter.com/">
                    <img class="icon" src="https://static.vecteezy.com/system/resources/previews/018/930/745/original/twitter-logo-twitter-icon-transparent-free-free-png.png">
                </a>
                <a href="https://instagram.com/">
                    <img class="icon" src="https://img.freepik.com/premium-vector/purple-gradiend-social-media-logo_197792-1883.jpg?w=740">
                </a>
            </div>
        </div>
    </div>
</footer>
