<footer class="footer"> 
    <div class="container">
        <div class="footer-content">
            <p>&copy; 2023 Librería XYZ. Todos los derechos reservados.</p>
            <div class="social-icons">
                <a href="https://facebook.com/tu_pagina_de_facebook" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/tu_perfil_de_twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com/tu_perfil_de_instagram" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
