<!-- <div *ngIf = "bookInfo">
<img [src]="bookInfo.image" alt="bookInfo.title">
<div>
    <p>{{bookInfo.title}}</p>
    <p>{{bookInfo.author}}</p>
    <p>{{bookInfo.price}}</p>
</div>
<div>
    <a [routerLink]="['../book-detail', bookInfo.id]">Ver más info</a>
</div>
</div> -->

<div 
    class="flex-container"
    *ngIf = "bookInfo"
>
    <div class="container-list-books">
            <div class="container-books">
                <img [src]="bookInfo.image">
                <h3>{{bookInfo.title}}</h3>
                <p>{{bookInfo.author}}</p>
                <p>{{bookInfo.price}}</p>
                <button>Detalle</button>
            </div>
    </div>
</div>