.container-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;

  .search-input,
  .order-select {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;

    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    &::placeholder {
      color: #999;
    }
  }

  .order-select {
    width: 150px;
    margin-left: 10px;
  }
}

.container-app-book {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-container {
  margin: 10px;
}